body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f8f9fa;
}

nav {
    background-color: #4285c5;
    color: white;
    padding: 15px;
    text-align: center;
}

.container {
    width: 80%;
    margin: auto;
    padding: 20px;
}

h2 {
    color: #2c3e50;
}

ul {
    list-style-type: none;
    padding: 0;
}

ul li {
    background: #ffffff;
    margin: 5px 0;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

footer {
    background-color: #4285c5;
    color: white;
    text-align: center;
    padding: 15px;
    margin-top: 20px;
}
