body {
    overflow-x: hidden;
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background: #294171;
    color: #ffffff;
    padding: 20px;
    width: 100%;
    text-align: center;
}

.container {
    max-width: 100%;
}

header h1 {
    margin: 0;
}

.social-media a {
    color: #ffffff;
    margin: 0 10px;
    text-decoration: none;
}

section {
    padding: 20px;
    margin: 20px auto;
    max-width: 90%;
    background: #ffffff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
    color: #35424a;
}

footer {
    text-align: center;
    padding: 10px;
    background: #294171;
    color: #ffffff;
    position: relative;
    bottom: 0;
    width: 100%;
}
